.signup-user-audio {
  /* border: 1px solid #ced4da; */
  width: 100%;
  height: 130px;
  padding: 20px;
  border-radius: 0.25rem;
  background-color: #057dcd;
  font-weight: 400;
  cursor: pointer;
}

.preparing-4-drag {
  text-align: center;
}
.form-label {
  margin-top: 20px;
  color: #1e3d58;
  font-weight: 400;
}

#fileElem {
  display: none;
}

.audio-label-instruction {
  margin-top: 20px;
  color: white;
}

.beingDraggedOver {
  background: rgba(94, 92, 230, 1);
}

.uploading,
.success,
.failure {
  height: 100%;
  display: grid;
  align-content: center;
}

.dragdrop-image {
  display: grid;
  justify-self: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 320px) {
  .signup-user-audio {
    height: 150px;
  }
}
