#upload-audio,
#crop-audio {
  margin: 5px;
  background-color: #e8eef1;
  color: #1e3d58;
}
.upload-ready {
  display: flex;
  justify-content: center;
}

.button-or {
  color: #1e3d58;
  font-weight: 700;
  display: inline-flex;
  margin: 5px;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  #upload-audio,
  #crop-audio {
    margin: 0;
    /* padding: 0.1rem 0.2rem; */
  }
}
