.explicitCard {
  float: right;
}

.cardAudio {
  width: 100%;
}


.card-footer > button {
  margin: 10px;
  width: 151px;
  float: right;
}

.gemCategory {
  margin: 0 5px 0 0;
  display: inline-block;
}
