.gem-container {
  margin: 10% auto;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .gem-container {
    margin: 20% auto;
    width: 60%;
  }
}

.gem-container h1 {
  color: #057dcd;
}

.gem-container audio {
  width: 100%;
}

.gem-container > .form-group {
  margin-top: 2%;
}

.form-group > .gem-description {
  background-color: #e8eef1;
}

audio:focus {
  outline: none;
}

#gem-categories {
  background-color: #e8eef1;
}

.gem-form-button {
  background-color: #057dcd;
  border-color: #057dcd;
  font-weight: 400;
  margin-top: 10px;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-size: 1.3rem;
}
