.loggedIn-buttons > button {
  margin: 10px;
  background-color: #057dcd;
}

.loggedOut-buttons > button {
  margin: 10px;
  background-color: #057dcd;
}

.loggedIn-buttons > .btn-secondary {
  background-color: #43b0f1;
}

.navbar-item {
  font-size: 1.4em;
  margin-left: 20px;
  color: #057dcd;
}
.dropdown-item > button {
  width: 100%;
}

#navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #e8eef1 !important;
}

nav > .dropdown {
  position: absolute;
  right: 40px;
  font-size: 1.5rem;
}

.nav-item > .dropdown-menu {
  left: -50px;
}

.menu-button {
  z-index: 1;
}
