.loggedIn-buttons > button {
  margin: 10px;
  background-color: #057dcd;
}

.loggedOut-buttons > button {
  margin: 10px;
  background-color: #057dcd;
}

.loggedIn-buttons > .btn-secondary {
  background-color: #43b0f1;
}

.navbar-item {
  font-size: 1.4em;
  color: #057dcd;
}

#navbar {
  z-index: 1;
  position: relative;
  width: 100%;
  top: 0;
  background-color: #e8eef1 !important;
}

.navupdate {
  float: right;
}

.navbar-collapse.show nav ~ div {
  margin-bottom: 20%;
}

.sticky {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: #e8eef1 !important;
}
