.homepage-buttons {
  display: flex;
  margin-top: 31px;
}

.homepage-buttons > button {
  margin: 20px;
  font-size: 1.6em;
}

.home-container {
  margin: 10% auto;
  width: 90%;
}

@media only screen and (max-width: 320px) {
  .home-container {
    margin: 0 auto;
    width: 90%;
  }
  .container {
    margin-top: 100px;
  }
  .home-container > h1 {
    font-size: 1.9rem;
  }
  .homepage-buttons > button {
    margin: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 1.8rem;
  }
}
