.library-section {
  margin: 10% auto;
  width: 60%;
  height: 100%;
}

.library-section > h1 {
  color: #1e3d58;
}

.noGem-h1 {
  margin: 10% auto;
  color: #1e3d58;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .library-section {
    margin: 20% auto;
    width: 80%;
  }
  .noGem-h1 {
    font-size: 1.5rem;
    margin: 30% auto;
    color: #1e3d58;
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .noGem-h1 {
    font-size: 1.5rem;
    margin: 30% auto;
    color: #1e3d58;
    width: 90%;
  }
}
