.modalBack {
  background-color: transparent;
}

.audioInput {
  width: 100%;
}

.modal-content {
  height: 20em;
}
#modalBody {
  padding: 0;

  height: 3em;
}

#rc-sliderDiv {
  width: 90%;
  padding: 0 0% 0 8%;
}

#modal-footer {
  padding: 5em 5px 5px 0;
  border-top: 0;
  height: 10em;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.audioError {
  color: red;
}

.player__button {
  border: 0;
  margin-left: 23px;
  line-height: 1.4;
  color: #057dcd;
  width: 100%;
  text-align: center;
  outline: 0;
  padding-top: 5px;
  font-size: 2em;
  background-color: white;
  cursor: pointer;
  max-width: 50px;
}

#modal-footer > .btn-primary {
  background-color: #057dcd;
  border-color: #057dcd;
}

.start-end-time {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 60px;
  top: 0;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}

.control-bar {
  display: flex;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.audioInputs {
  flex-direction: column;
  max-width: 170px;
  display: flex;
  margin: 5px;
}
.audioInputs > .audioTime {
  height: 2em;
  margin: 3px;
}

.inputTimeButton {
  width: 100px;
}

.endTimeInput,
.startTimeInput {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}

.audioInputError {
  margin-top: 10px;
  height: 50px;
  width: 250px;
}
.alert-danger {
  height: 50px;
  width: 250px;
}

.audioInputError > .alert {
  padding: 0 1.25rem;
}
