.pageNumbers {
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.pageNumbers li {
  padding: 10px;
  color: #1e3d58;
  cursor: pointer;
  border-radius: 10%;
  font-weight: 700;
  height: 80%;
  border: 1px solid white;
}

.pageNumbers li.active {
  background-color: white;
  color: black;
}

.pageNumbers li button {
  background: transparent;
  border: none;
  color: #1e3d58;
  font-weight: 700;

  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}
