.photo-section {
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
}
.photo-section > h2 {
  color: #1e3d58;
}
.upload-box-photo {
  /* width: 100%; */

  height: 100%;

  text-align: center;
  padding: 6px;
  border-radius: 0.24rem;
  background-color: #057dcd;
  font-weight: 400;
  cursor: pointer;
}

.signup-user-photo {
  cursor: pointer;
}
.upload-box-photo > label {
  margin-bottom: 0;
}

.preparing-4-drag {
  text-align: center;
}
.form-label {
  margin-top: 20px;
  color: #1e3d58;
  font-weight: 400;
}

#fileElem {
  display: none;
}

.image-label-instruction {
  margin-top: 20px;
  color: white;
}

.beingDraggedOver {
  background: rgba(94, 92, 230, 1);
}

.uploading,
.success,
.failure {
  height: 100%;
  display: grid;
  align-content: center;
}

.dragdrop-image {
  display: grid;
  justify-self: center;
  margin-bottom: 15px;
}

.profileImage {
  width: 200px;
  height: 200px;
}

.photoIcon {
  width: 50%;
}
