#profile-container {
  margin: 10% auto;

  width: 60%;
}

.photoupload-div {
  display: flex;
}

#profile-container > h2 {
  color: #1e3d58;
}

#profile-container .allInputs > .input {
  width: 98%;
}

#profile-container .allInputs {
  width: 70%;
}

.org-flex {
  display: flex;
  width: 100%;
}

.org-success {
  width: 280px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #profile-container {
    margin: 20% auto;
    width: 60%;
  }
  .form-group > h2 {
    font-size: 1.5rem;
  }
  .photo-section > h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  #profile-container {
    margin: 25% auto;
    width: 80%;
  }
  .form-group > h2 {
    font-size: 1.5rem;
  }
  .photo-section > h2 {
    font-size: 1.5rem;
  }
}
