.rss-columns {
  width: 70%;
  margin: 0 auto;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.form-group > input {
  background-color: #e8eef1;
}

.rss-container {
  margin: 10% auto;
  width: 60%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .rss-container {
    margin: 20% auto;
    height: 100%;
  }
  .rss-columns {
    width: 100%;
    margin: 0 auto;
  }
}

html > body {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  height: 100%;
  background-size: auto 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  position: relative;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
