.rss-columns {
  width: 70%;
  margin: 0 auto;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.form-group > input {
  background-color: #e8eef1;
}

.rss-container {
  margin: 10% auto;
  width: 60%;
}
/* 
body {
  height: 100%;
} */
