.container {
  /* width: 40%; */
  margin-top: 150px;
  align-items: center;
  height: 100%;
  margin-bottom: 20%;
}

.text-center {
  margin-bottom: 15px;
}
.sign-in-container {
  width: 40%;
  margin: 0 auto;
  align-items: center;
  margin-top: 150px;
  height: 50%;
  padding: 10px 5px 5px 5px;
}

@media only screen and (max-width: 768px) {
  .sign-in-container {
    width: 90%;
  }
}

.sign-in-container .button {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.sign-in-container > form {
  width: 80%;
}

.allInputs > input {
  width: 100%;
  height: 3em;
  border: 1px solid #e8eef1;
}

.homeLink {
  margin-top: 5px;
  text-align: center;
}

.form-group > .alert {
  padding: 0 1.25rem;
}

.in-eye-icon {
  position: absolute;
  right: 80px;
  bottom: 135px;
}

.form-group > .alert {
  width: 100%;
}

@media only screen and (max-width: 320px) {
  .in-eye-icon {
    position: absolute;
    right: 40px;
    bottom: 135px;
  }
}
